<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuoyuan.rxdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 1 创建操作-->
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1_CreatingObservablesActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator1CreateActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator2DeferActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator3_1EmptyActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator3_2NeverActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator3_3ThrowActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator4FromActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator5IntervalActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator6JustActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator7RangeActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator8RepeatActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator9StartActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category1_creating_observables.Category1Operator10TimerActivity" />

        <!--2 变换-->
        <activity android:name=".category2_transforming_observables.Category2_TransformingObservablesActivity" />
        <activity android:name=".category2_transforming_observables.Category2Operator1MapActivity" />
        <activity android:name=".category2_transforming_observables.Category2Operator2FlatMapActivity" />
        <activity android:name=".category2_transforming_observables.Category2Operator3ScanActivity" />
        <activity android:name=".category2_transforming_observables.Category2Operator4GroupByActivity" />
        <activity android:name=".category2_transforming_observables.Category2Operator5BufferActivity" />
        <activity android:name=".category2_transforming_observables.Category2Operator6WindowActivity" />
        <!--end-->

        <!--过滤-->
        <activity android:name=".category3_filtering_observables.Category3_FilteringObservablesActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator1FilterActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator2TakeLastActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator3LastActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator4SkipActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator5SkipLastActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator6TakeActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator7FirstActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator8ElementAtActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator9SampleActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator10DebounceActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator11DistinctActivity" />
        <activity android:name=".category3_filtering_observables.Category3Operator12IgnoreElementsActivity" />

        <!--4 组合-->
        <activity android:name=".category4_combining_observables.Category4_CombiningObservablesActivity" />
        <activity android:name=".category4_combining_observables.Category4Operator1StartWithActivity" />
        <activity android:name=".category4_combining_observables.Category4Operator2MergeActivity" />
        <activity android:name=".category4_combining_observables.Category4Operator3ZipActivity" />
        <activity android:name=".category4_combining_observables.Category4Operator4AndThenWhenActivity" />
        <activity android:name=".category4_combining_observables.Category4Operator5CombineLatestActivity" />
        <activity android:name=".category4_combining_observables.Category4Operator6JoinActivity" />
        <activity android:name=".category4_combining_observables.Category4Operator7SwitchActivity" />
        <!--end-->

        <!--辅助操作-->
        <activity android:name=".category6_observable_utility_operators.Category6_ObservableUtilityOperatorsActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator1MaterializeActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator2DematerializeActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator5ObserveOnActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator3TimestampActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator6SubscribeActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator4SerializeActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator7SubscribeOnActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator8DelayActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator9TimeIntervalActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator10TimeoutActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator11UsingActivity" />
        <activity android:name=".category6_observable_utility_operators.Category6Operator12DoActivity" />

        <!--算数聚合操作-->
        <activity android:name=".category8_mathematical_and_aggregate_operators.Category8_MathematicalAndAggregateOperatorsActivity" />
        <activity android:name=".category8_mathematical_and_aggregate_operators.Category8Operator1AverageActivity" />
        <activity android:name=".category8_mathematical_and_aggregate_operators.Category8Operator2MaxActivity" />
        <activity android:name=".category8_mathematical_and_aggregate_operators.Category8Operator3MinActivity" />
        <activity android:name=".category8_mathematical_and_aggregate_operators.Category8Operator4SumActivity" />
        <activity android:name=".category8_mathematical_and_aggregate_operators.Category8Operator5ConcatActivity"/>
        <activity android:name=".category8_mathematical_and_aggregate_operators.Category8Operator6CountActivity" />
        <activity android:name=".category8_mathematical_and_aggregate_operators.Category8Operator7ReduceActivity" />
        <!--end-->

        <activity android:name=".transportcontrol.FlatMapTransportActivity" />
        <activity android:name=".transportcontrol.RxjavaTransport" />
        <activity android:name=".transportcontrol.Category2Operator3ScanActivity" />
        <!--异常操作符号-->
        <activity android:name=".category5_error_handling_operators.Category5_ErrorHandlingOperatorsActivity" />
        <activity android:name=".category5_error_handling_operators.Category5Operator1_1OnErrorReturnActivity" />
        <activity android:name=".category5_error_handling_operators.Category5Operator1_2OnErrorResumeNextActivity" />
        <activity android:name=".category5_error_handling_operators.Category5Operator1_3OnExceptionResumeNextActivity" />
        <activity android:name=".category5_error_handling_operators.Category5Operator2RetryActivity" />


        <!-- 7. 条件和布尔操作 start -->
        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7_ConditionalAndBooleanOperatorsActivity"
            android:label="@string/activity_main_7_conditional_and_boolean_operators" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator1AmbActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_1_amb" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator2DefaultIfEmptyActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_2_default_if_empty" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator3SkipUntilActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_3_skip_until" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator4SkipWhileActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_4_skip_while" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator5TakeUntilActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_5_take_until" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator6TakeWhileActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_6_take_while" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator7AllActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_7_all" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator8ContainsActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_8_contains" />

        <activity
            android:name=".category7_conditional_and_boolean_operators.Category7Operator9SequenceEqualActivity"
            android:label="@string/activity_category7_conditional_and_boolean_operators_9_sequence_equal" />
        <!-- 7. 条件和布尔操作 end -->

        <!--9 背压操作-->
        <activity android:name="com.nuoyuan.rxdemo.category9_backpressure_operators.Category9_BackpressureOperatorsActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category9_backpressure_operators.Category9Operator1OnBackpressureBufferActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category9_backpressure_operators.Category9Operator2OnBackpressureDropActivity" />
        <activity android:name="com.nuoyuan.rxdemo.category9_backpressure_operators.Category9Operator3OnBackpressureLatestActivity" />
        <!--连接操作-->

        <activity android:name=".category10_connectable_observable_operators.Category10_ConnectableObservableOperatorsActivity" />
        <activity android:name=".category10_connectable_observable_operators.Category10Operator2PublishActivity" />
        <activity android:name=".category10_connectable_observable_operators.Category10Operator3ReplayActivity" />
        <activity android:name=".category10_connectable_observable_operators.Category10Operator4RefCountActivity" />
        <activity android:name=".category10_connectable_observable_operators.Category10Operator1ConnectActivity" />


        <!--转换-->
        <activity android:name=".category11_operators_to_convert_observables.Category11_OperatorsToConvertObservablesActivity" />
        <activity android:name=".category11_operators_to_convert_observables.Category11Operator1GetIteratorActivity" />
        <activity android:name=".category11_operators_to_convert_observables.Category11Operator2ToFutureActivity" />
        <activity android:name=".category11_operators_to_convert_observables.Category11Operator3ToIterableActivity" />
        <activity android:name=".category11_operators_to_convert_observables.Category11Operator4ToListActivity" />
        <activity android:name=".category11_operators_to_convert_observables.Category11Operator5ToMapActivity" />
        <activity android:name=".category11_operators_to_convert_observables.Category11Operator6ToMultiMapActivity" />
        <activity android:name=".category11_operators_to_convert_observables.Category11Operator7ToSortedListActivity" />
        <activity android:name=".category11_operators_to_convert_observables.Category11Operator8NestActivity" />

    </application>


</manifest>